.team-members {
width: 30%;
margin-left: 475px;
}

.team-image
{
    margin: 50px 50px 50px 500px;
     width: 300px;
}

.about-text {
    width: 50%;
    border-block: solid;
    padding: 10px;
    margin: 50px 0px 50px 320px;
    
}

.about-final {
    width: 80%;
    border-block: solid;
    padding: 10px;
    margin: 50px 0px 50px 120px;
}