.login-container
{
     text-align: center;
     width: 400px;
     margin: 80px auto;
     padding: 10px;  
     border-radius: 8px;   
     box-shadow: 0px 4px 10px rgba(41, 101, 149, 1.0);
     margin-top: 300px;
     
     background-color: #6993b4
     
}

.login-container h2
{
     margin-top: 10px;
     
}

.login-container a
{
     text-decoration: none;
     color: #000;
}

.login-container a:hover
{
     color: blue;
     text-decoration: underline;
}
.form-input input
{
    width: 300px;
    height: 25px;
    margin: 12px;
    border: 1px solid #ccc;    
    border-radius: 5px;
}

.form-register
{
     margin: 10px;
     
}

.form-button
{
     width: 300px;
     height: 30px;
     margin: 12px;
     border: none;
     background-color: #3d4f3c;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
    
}