.contact {
     background-color: #e5edf3;
     max-width: 500px;
     margin: 50px auto;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     padding: 20px;
     border-radius: 10px;
}

.contact-form button {
     background-color: #000000;
     width: 35%;
     color: #fff;
     font-size: 13px;
     height: 30px;
     border-radius: 15px;
     cursor: pointer;
     margin: 10px 10px 10px 0px;
}

.success-message {
     flex-direction: column;
     margin: 20px 0 20px 140px;
}

.custom-input {
     border: none;
     border-bottom: 2px solid #000;
     padding: 5px;
     font-size: 16px;
     background-color: #e5edf3;
     font-family: Helvetica, sans-serif;
     width: 90%;
     margin: 0px 30px 0px 0px;
}

.custom-input:focus {
     border-bottom-color: #646464;
}

.label-class {
     font-weight: bold;
     font-size: 16px;
     font-family: Helvetica;
}

.espaco {
     margin: 0px 0px 0px 70px;
     padding: 10px;
}

.teste {
     display: flex;
}

.footer-social {
     display: flex;
     gap: 5px;
     margin: 10px 10px 10px 70px;
}

.footer-social img {
     width: 18px;
     height: 18px;
     margin: 0;
}

.espaco {
     margin: 0px 0px 0px 70px;
     padding: 10px;
}