
.header ul
{
     list-style-type: none;             /*..Exclui os marcadores*/
     display: flex;
     gap: 20px;                         /*..Dá uma distância entre os elementos*/
     margin-right: 10px;
}

.header a {
     text-decoration: none; /* Remove o sublinhado dos links */
     color: #ffffff; /* Cor do texto */
   }

.header a:hover
{
     color: #ffffff;
     text-decoration: underline;
     
}


.header img
{
     width: 200px;
     border-radius: 50%;
     margin: 5px;     
}

nav {
     display: flex;
     justify-content: center;
     padding: 10px 0;
     width: 100%; /* Faz o menu ocupar toda a largura da tela */
     z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
     background-color: #1d1d1d;
   }