.header
{
     display: flex;
     justify-content: space-between;    /*..Distribui horizontalmente*/
     align-items: center;               /*..Centraliza verticalmente*/
     background-color: #98b8d8;
     position: fixed;
     width: 100%;     
     box-shadow: 0px 4px 10px rgba(41, 101, 149, 0.4);
     top: 0;
     left: 0;     
}

.header ul
{
     list-style-type: none;             /*..Exclui os marcadores*/
     display: flex;
     gap: 20px;                         /*..Dá uma distância entre os elementos*/
     margin-right: 10px;
}

.header a
{
     text-decoration: none;
     font-size: 20px;
     font-weight: 600;
     transition: color 0.3s;
}

.header a:hover
{
     color: #007bff;
     text-decoration: underline;
     
}


.header img
{
     width: 200px;
     border-radius: 50%;
     margin: 5px;     
}